<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actualizar Película</title>
</head>
<body>
    <h1>Ingrese los datos a actualizar, el resto escribalos como estaban:</h1>
    <form method="post">

    <label for="nombre">Ingrese el nombre:</label>
    <input type="text" name="nombre" id="nombre"/>
    <br>
    <label for="genero">Ingrese genero:</label>
    <input type="text" name="genero" id="genero"/>
    <br>
    <label for="duracion">Ingrese la duracion:</label>
    <input type="number" name="duracion" id="duracion"/>
    <br>
    <label for="inventario">Ingrese el inventario:</label>
    <input type="number" name="inventario" id="inventario"/>
    <br>
    
    <button type="submit">Actualizar Película</button>
    </form>
    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
</body>
</html>