<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>
</head>
<body>

  <h1>Lista de Usuarios</h1>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
	        <th>Email</th>
            <th>Password</th>
	        <th>Profile Picture</th>
	        <th>SuperUser</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td  style="text-align:center;">{{ usuario.idUsuario }}  </td>
                <td  style="text-align:center;">{{ usuario.nombre }} {{ usuario.apPat }} {{ usuario.apMat }}  </td>
                <td  style="text-align:center;">{{ usuario.email }}   </td>
		        <td  style="text-align:center;">{{ usuario.password }} </td>
		        <td  style="text-align:center;">{{ usuario.profilePicture }}  </td>
		        <td  style="text-align:center;">{{ usuario.superUser }}  </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>